<!DOCTYPE html>
<html>

	<head>
	    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
	    <meta charset="utf-8">

	    <title>Welcome!</title>

	    <link rel="stylesheet" href="../model/style.css"/>
	</head>


	<body>
		<div class="container">
			<h1>Welcome to Rectangular Demo</h1>
			<h3>Here are the option to play with!!!</h4>
		</div>
		<div class="links">
			<a href="http://35.224.245.62 /add">Add</a>
			<a href="http://35.224.245.62 /edit">Edit</a>
			<a href="http://35.224.245.62 /display">Delete</a>
		</div>
		<a class="links" href="http://35.224.245.62/display">Display page</a>
	</body>
</html>