body {
	transition: background 1s linear;
	background-size: cover;
}

.web-title {
	display: flex;
	justify-content: center;
	margin: 0;
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   -webkit-background-clip: text;
	color: transparent;
}

.position {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.formAttributes {
	display: inline-block;
	border: 2px solid black;
	border-radius: 8px;
	font-size: 20pt;
	padding: 10px;
	box-shadow: 2px 2px;
	background-color: #D6D6D6;
}

tr {
	background-color: white;
}

input {
	font-size: 20px;
}

button {
	margin-top: 20px;
	font-size: 20px;
	cursor: pointer;
}

table {
	font-size: 20px;
	border-collapse: collapse;
	width: 100%;
}

th, tbody > tr > td{
	border: 3px solid black;
	width: 25%;
	background-color: #8CA4DB;
}

tbody > tr > td{
	background-color: #FFEBCB;
}

p {
	margin: 0; 
	border: 3px solid black;
	border-top: 0;
	border-radius: 8px;
	padding-top: 5px;
	font-size: 20px;
	background-color: #C4ED87;	
}

#calAvg{
	background-color: white;
	border-radius: 0;
}

.sort {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.sort-deco {
	margin: 5px;
	border: 3px solid black;
	padding: 5px;
	cursor: pointer;
}

.sort-deco:hover {
	background-color: #FFF358;
}
